textarea {
    width: 80%;
    display: block;
    margin: 1rem;
    height: 10vh;
    padding: 1rem;
}

#output {
    border: 1px solid black;
    width: 80%;
    display: block;
    margin: 1rem;
    height: 10vh;
    padding: 1rem;
}